{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 250,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ]
}
